<div class="search-container">
  <input 
    type="text" 
    placeholder="Buscar especie..."
    [(ngModel)]="searchTerm"
  />

  <div class="search-results" *ngIf="searchTerm.trim().length > 0">
    <ul>
      <li *ngFor="let species of filteredSpeciesList" (click)="selectSpecies(species)">
        {{ species.name }} <span class="small">({{ species.category }})</span>
      </li>
    </ul>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="small"
  type="ball-spin-fade"
  color="#ffffff"
>
  <img src="../../assets/img/logos/arcticflower.png" alt="Cargando..." class="spinner-image">
</ngx-spinner>


<div #globeContainer class="globe-container"></div>

<div class="side-panel" *ngIf="selectedCluster">

  <div class="country-info">
    <span class="fi fi-{{selectedCluster.country | lowercase}}"></span>
    <h2>{{ selectedCluster.name }} {{ selectedCluster.country }} {{ selectedCluster.country }}</h2>
  </div>

  <div class="species-details" *ngIf="selectedSpecies">

    <h3>{{ selectedSpecies.common_name }}</h3>
    <p><strong>Scientific name:</strong> {{ selectedSpecies.scientific_name }}</p>
    <p><strong>Media:</strong> {{ selectedSpecies.media }}</p>
    <p><strong>Categoría:</strong> {{ selectedSpecies.category }}</p>
    <p><strong>País:</strong> {{ selectedSpecies.country }}</p>
    <p><strong>Kingdom:</strong> {{ selectedSpecies.kingdom }}</p>
    <p><strong>Threats:</strong> {{ selectedSpecies.threats }}</p>
    <p><strong>Taxon_id:</strong> {{ selectedSpecies.taxon_id }}</p>
    <p><strong>Updated at:</strong> {{ selectedSpecies.updatedAt }}</p>
  
    <button (click)="closePanel()">Cerrar detalles</button>

  </div>
</div>