<div class="search-container">
  <input 
    type="text" 
    placeholder="Search by country, territory or species"
    [(ngModel)]="searchTerm"
    (input)="onSearchInput(searchTerm)"
  />

  <div class="search-results" *ngIf="searchTerm.trim().length > 0">
    <!-- Resultados de paises -->
    <div class="result-section" *ngIf="filteredClusters.length > 0">
      <h4>Countries/Territories:</h4>
      <ul>
        <li *ngFor="let cluster of filteredClusters" 
            (click)="selectCluster(cluster)">
          <span class="fi fi-{{cluster.country | lowercase}}"></span>
          {{ cluster.name }} <span class="species-count">({{ cluster.count }} especies)</span>
        </li>
      </ul>
    </div>

    <!-- Resultados de especies -->
    <div class="result-section" *ngIf="filteredSpecies.length > 0">
      <h4>Species:</h4>
      <ul>
        <li *ngFor="let species of filteredSpecies" (click)="selectSpeciesFromSearch(species)">
          <span *ngIf="species.country" class="fi fi-{{species.country | lowercase}}"></span>
          <span *ngIf="species.common_name != 'Unknown'">
            {{ species.common_name }} <em *ngIf="species.scientific_name"> ({{ species.scientific_name }})</em>
          </span>
          <span *ngIf="species.common_name == 'Unknown'">
            {{ species.scientific_name }}
          </span>
        </li>
      </ul>
    </div>

    <!-- Estados de carga -->
    <div *ngIf="searchLoading" class="loading">Buscando especies...</div>
    <div *ngIf="!searchLoading && filteredClusters.length === 0 && filteredSpecies.length === 0"
         class="no-results">
      No se encontraron resultados para "{{ searchTerm }}"
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="small"
  type="ball-spin-fade"
  color="#ffffff"
>
  <img src="../../assets/img/logos/arcticflower.png" alt="Cargando..." class="spinner-image">
</ngx-spinner>

<div class="missions-container">

  <button class="missions-btn" (click)="toggleMissionsPanel()">
    <img src="../../../assets/img/icons/crown-yellow.png" alt="">
  </button>
  
  <div class="missions-panel" *ngIf="showMissionsPanel">
    <aside>
      <h3>
        <img src="../../../assets/img/icons/crown-yellow.png" alt="" class="quest-img">
        Daily quests
      </h3>
      <div *ngIf="missions.length === 0">No daily quests for today!</div>
      <ul *ngIf="missions.length > 0">
        <li *ngFor="let m of missions">
          <img src="../../../assets/img/icons/crown-yellow.png" alt="" *ngIf="!m.completed">
          <img src="../../../assets/img/icons/check-yellow.png" alt="" *ngIf="m.completed">
          <strong>{{ m.missionId.type }}</strong>
          {{ m.description }}
          <hr>
        </li>
      </ul>
    </aside>
  </div>

</div>

<div class="favorites-container">

  <button class="favorites-btn" (click)="toggleFavoritesPanel()">
    <img src="../../../assets/img/icons/heart-yellow.png" alt="">
  </button>
  
  <div class="favorites-panel" *ngIf="showFavoritesPanel">
    
    <h4>
      <img src="../../../assets/img/icons/heart-yellow.png" alt="" class="fav-img">
      Favorite species ({{ favoriteList.length }})
    </h4>

    <h5 *ngIf="favoriteList.length === 0">You haven't added any favorite species yet!</h5>
    <ul>
      <li *ngFor="let fav of favoriteList" (click)="goToFavorite(fav)">
        <span class="fi fi-{{ fav.clusterId.country | lowercase }}"></span>
        {{ fav.speciesId.common_name !== 'Unknown'
             ? fav.speciesId.common_name
             : fav.speciesId.scientific_name }}
      </li>
    </ul>
  </div>
</div>

<div #globeContainer class="globe-container"></div>

<div class="side-panel" *ngIf="selectedCluster">
  
  <div class="species-header">
    <div class="close-button" (click)="clearCurrentSelection()"><img src="../../../assets/img/icons/chevron-left.svg" alt=""></div>
  
    <div class="country-info">
      <span class="fi fi-{{selectedCluster.country | lowercase}}"></span>
      <h2>{{ selectedCluster.name }} ( {{ selectedCluster.count }} )</h2>
    </div>
  </div>

  <div class="species-details" *ngIf="selectedSpecies">

    <div class="simple-gallery">
      <div class="image-container">
        <div class="image-wrapper" *ngIf="selectedSpecies?.media?.length">
          <ngx-spinner
            bdColor="rgba(0, 0, 0, 0.8)"
            size="small"
            type="ball-spin-fade"
            color="#ffffff" 
            class="spinner" 
            *ngIf="isImageLoading"
          >
            <img src="../../assets/img/logos/arcticflower.png" alt="Cargando..." class="spinner-image">
          </ngx-spinner>
          <img 
            [src]="currentImage?.identifier || '../../../assets/img/icons/no-media.png'" 
            [alt]="'Imagen de la especie'"
            class="main-image"
            (click)="toggleImageInfo()"
            (load)="isImageLoading = false"
            (error)="isImageLoading = false"
            [class.hidden]="isImageLoading"
          />
          <div class="nav-arrow left" (click)="prevImage(); $event.stopPropagation()">
            ‹
          </div>
          <div class="nav-arrow right" (click)="nextImage(); $event.stopPropagation()">
            ›
          </div>
          <div class="image-info-popper" *ngIf="showImageInfo" (click)="toggleImageInfo()">
            <p *ngIf="currentImage?.title"><strong>Title:</strong> {{ currentImage?.title }}</p>
            <p *ngIf="currentImage?.description"><strong>Description:</strong> {{ currentImage?.description }}</p>
            <p *ngIf="currentImage?.creator"><strong>Creator:</strong> {{ currentImage?.creator }}</p>
            <p *ngIf="currentImage?.contributor"><strong>Contributor:</strong> {{ currentImage?.contributor }}</p>
            <p *ngIf="currentImage?.publisher"><strong>Publisher:</strong> {{ currentImage?.publisher }}</p>
            <p *ngIf="currentImage?.rightsHolder"><strong>Rights Holder:</strong> {{ currentImage?.rightsHolder }}</p>
            <p *ngIf="currentImage?.license"><strong>License:</strong> {{ currentImage?.license }}</p>
          </div>
          <div class="image-counter">
            {{ currentImageIndex + 1 }} / {{ selectedSpecies.media?.length }}
          </div>
        </div>
        <div class="image-wrapper" *ngIf="!selectedSpecies?.media?.length">
          <img src="../../../assets/img/icons/no-media.png" class="main-image"/>
        </div>
      </div>
    </div>

    <div class="species-data">

      <div class="title-fav-container">

        <div class="title-col">
          <ng-container *ngIf="selectedSpecies.common_name !== 'Unknown'; else sciOnly">
            <h3>{{ selectedSpecies.common_name }}</h3>
            <i>{{ selectedSpecies.scientific_name }}</i>
          </ng-container>
          <ng-template #sciOnly>
            <h3>{{ selectedSpecies.scientific_name }}</h3>
          </ng-template>
        </div>

        <div class="fav-col">
          <div id="heart-container" *ngIf="selectedSpecies">
            <input
              type="checkbox"
              class="heart-toggle"
              id="toggle"
              [checked]="isFavorited"
              (change)="toggleFavorite()"
            />
            <div id="fav-heart"></div>
          </div>
        </div>

      </div>

      <img src="../../../assets/img/species_status/CRITICALLY_ENDANGERED.png" *ngIf="selectedSpecies.category=='CR'" alt="" style="width: 360px;">
      <img src="../../../assets/img/species_status/EXTINCT_IN_THE_WILD.png" *ngIf="selectedSpecies.category=='EW'" alt="" style="width: 360px;">
      <img src="../../../assets/img/species_status/EXTINCT.png" *ngIf="selectedSpecies.category=='EX'" alt="" style="width: 360px;">
  
      <p><strong>Kingdom:</strong> {{ selectedSpecies.kingdom }}</p>
      <p><strong>Phylum:</strong> {{ selectedSpecies.phylum }}</p>
      <p><strong>Class:</strong> {{ selectedSpecies.class }}</p>
      <p><strong>Order:</strong> {{ selectedSpecies.order }}</p>
      <p><strong>Family:</strong> {{ selectedSpecies.family }}</p>
      <p><strong>Genus:</strong> {{ selectedSpecies.genus }}</p>

      <hr>

      <div id="description" *ngIf="selectedSpecies.description">
        <h4>Description</h4>
        <p *ngIf="selectedSpecies.description.rationale">
          <strong>Rationale:</strong> {{ selectedSpecies.description.rationale }}
        </p>
        <p *ngIf="selectedSpecies.description.habitat">
          <strong>Habitat:</strong> {{ selectedSpecies.description.habitat }}
        </p>
        <p *ngIf="selectedSpecies.description.threats">
          <strong>Threats:</strong> {{ selectedSpecies.description.threats }}
        </p>
        <p *ngIf="selectedSpecies.description.population">
          <strong>Population:</strong> {{ selectedSpecies.description.population }}
        </p>
        <p *ngIf="selectedSpecies.description.populationTrend">
          <strong>Population Trend:</strong> {{ selectedSpecies.description.populationTrend }}
        </p>
        <p *ngIf="selectedSpecies.description.range">
          <strong>Range:</strong> {{ selectedSpecies.description.range }}
        </p>
        <p *ngIf="selectedSpecies.description.useTrade">
          <strong>Use & Trade:</strong> {{ selectedSpecies.description.useTrade }}
        </p>
        <p *ngIf="selectedSpecies.description.conservationActions">
          <strong>Conservation Actions:</strong> {{ selectedSpecies.description.conservationActions }}
        </p>
      </div>

      <hr>

      <button class="report-species-btn" (click)="openSpeciesReport()">
        <img src="../../../assets/img/icons/info-black.png" alt="">
        Report an issue with this species
      </button>

      <p><strong>Taxon_id:</strong> {{ selectedSpecies.taxon_id }}</p>

      <p><strong>Updated at:</strong> {{ selectedSpecies.updatedAt }}</p>

      <h4>Present in:</h4>
      <div class="flags-container">
        <span 
        *ngFor="let location of selectedSpecies.locations" 
        class="fi fi-{{location.country | lowercase}} flag">
        </span>
      </div>

    </div>

  </div>
</div>