<nav class="navbar">
    <input type="checkbox" id="chkToggle">
    <label class="navbar-toggle" for="chkToggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
    </label>
    <a routerLink="/" class="logo"><img src="../../../assets/img/logos/arcticflower.png" alt="">ArcticFlower</a>
    <ul class="main-nav">
        <li>
            <a routerLink="/" class="nav-links hvr-underline-reveal"><img src="../../../assets/img/icons/home-black.svg" alt="">Home</a>
        </li>
        <li>
            <a routerLink="/map" class="nav-links hvr-underline-reveal"><img src="../../../assets/img/icons/map-black.png" alt="">Map</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
            <a routerLink="/profile" class="nav-links hvr-underline-reveal"><img src="../../../assets/img/icons/user-black.svg" alt="">Profile</a>
        </li>
        <ng-container *ngIf="!authService.isAuthenticated(); else loggedIn">
            <li>
                <a routerLink="/auth/login" class="nav-links hvr-underline-reveal"><img src="../../../assets/img/icons/user-black.svg" alt="">Login</a>
            </li>
        </ng-container>
        <ng-template #loggedIn>
            <li>
                <a routerLink="" (click)="logout()" class="nav-links hvr-underline-reveal logout"> <img src="../../../assets/img/icons/logout-black.svg" alt=""> Logout</a>
            </li>
        </ng-template>
    </ul>
</nav>