@use 'styles' as s;

:host {
  display: block;
  animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

//Forced styling for white text in ngx-charts
::ng-deep .ngx-charts .tick text,
::ng-deep .ngx-charts .tooltip-anchor,
::ng-deep .ngx-charts .legend-labels text,
::ng-deep .ngx-charts text {
  fill: #ffffff !important;
}


//Forced styling for final graph legend position
::ng-deep .advanced-pie-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
::ng-deep .advanced-pie-legend .legend-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
::ng-deep .advanced-pie-legend .legend-item {
  margin: 10px;
}
::ng-deep .advanced-pie-legend .total-value {
  margin-right: 19px;
  margin-bottom: 20px;
}

.main {
  margin: 0;
  padding: 0;
  background-color: #000;
  
  color: #fff;
  overflow-x: hidden;
}

.video-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    transform: scale(1.04);
  }
}

.content {
  position: relative;
  z-index: 2;
  padding-top: 2rem;
  margin-top: 60vh;
  font-family: "LemonMilk";
  
  .title-container {
    text-align: center;
    position: absolute;
    background-color: #000000a6;
    width: 50vw;
    padding: 10px 5px;
    margin: auto;
    font-size: 2vh;
    margin-bottom: 15vh;
    top: -300px;
    left: 25%;
  }
  
  .button-panel {
    position: absolute;
    top: -50px;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    button {
      width: 200px;
      height: 100px;
      background-color: s.$secondary-color;
      color: #fff;
      border: 3px solid s.$secondary-background;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: #71a330;
      }
    }
    
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-top: 3px solid s.$secondary-background;
    border-bottom: solid 3px s.$secondary-background;
    background-color: s.$primary-background;
    padding-bottom: 50px;
    
    .graph-row {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      border-bottom: 1px dashed white;
      padding-bottom: 30px;
      
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
      
      &:last-child {
        border-bottom: none;
      }
      
      .chart-container {
        border-radius: 16px;
        transition: all 0.3s ease;
        
        .ngx-charts {
          
          text {
            color: white;
          }
          
          .textDataLabel {
            color: white !important;
          }
          
          .pie-label {
            font-size: 12px !important;
            font-weight: 600 !important;
            fill: #2c3e50 !important;
          }
          
          .pie-chart-arcs {
            path {
              transition: transform 0.3s ease, opacity 0.3s ease;
              
              &:hover {
                transform: scale(1.05);
                opacity: 0.9;
              }
            }
          }
        }
      }
      
      .chart,
      .description {
        flex: 1 1 50%;
      }
      
      .description {
        background-color: s.$secondary-background;
        border-radius: 25px;
        height: 100%;
        padding: 15px;
        
        h2 {
          text-decoration: underline dashed;
          
          img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            vertical-align: middle;
            filter: invert(1);
          }
        }
        
      }
      
    }
    
    #consequences,
    #causes,
    #solutions {
      border-bottom: dashed 1px white;
      padding-bottom: 30px;
      text-align: justify;
      
      h2, h4 {
        text-align: center;
      }
      
      .final-message {
        background-color: s.$secondary-background;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.745);
      }
      
      .cards-container {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        margin-top: 1rem;
        .card {
          background-color: s.$secondary-background;
          overflow: hidden;
          display: flex;
          flex: 1 1 calc(33.333% - 1rem);
          flex-direction: column;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
          p {
            padding: 1rem;
            color: #fff;
            flex-grow: 1;
          }
        }
      }
      
    }
    
    #conclusions {
      
      h2, h4 {
        text-align: center;
      }
      
      .gallery-container {
        
        .gallery-cards {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          
          .gallery-card {
            background: s.$secondary-background;
            overflow: hidden;
            flex: 1 1 calc(33.333% - 1rem);
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
            
            img {
              width: 100%;
              height: 250px;
              object-fit: cover;
              background-color: white;
            }
            
            p {
              padding: 1rem;
              color: #fff;
              flex-grow: 1;
            }
            
            .button-wrapper {
              display: flex;
              justify-content: center;
              padding: 1rem;
            }
            
            button {
              position: relative;
              margin: 0 auto;
              padding: 1rem 2rem;
              font-size: 1.1rem;
              font-weight: 600;
              color: #fff;
              background: none;
              border: none;
              cursor: pointer;
              overflow: hidden;
              transition: all 0.4s ease;
              max-width: 300px;
              z-index: 1;
              
              &.neon-pulse {
                background: s.$primary-background;
                border: 2px solid s.$primary-color;
                box-shadow: 0 0 10px s.$primary-color;
                overflow: visible;
                
                &::before,
                &::after
                {
                  content: "";
                  position: absolute;
                  inset: -4px;
                  border: 2px solid s.$primary-color;
                  border-radius: inherit;
                  animation: pulseOut 2s ease-out infinite;
                  opacity: 0;
                }
                
                &::after {
                  animation-delay: 1s;
                }
                
                &:hover {
                  transform: scale(1.05);
                  transition: 0.3s;
                }
                
                @keyframes pulseOut {
                  0% {
                    transform: scale(1);
                    opacity: 1;
                  }
                  100% {
                    transform: scale(1.5);
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
        
        .pagination {
          margin-top: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          
          button {
            background: none;
            border: 1px solid #fff;
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            cursor: pointer;
            &:disabled {
              opacity: 0.5;
              cursor: default;
            }
          }
        }
      }
    }
    
    span{
      &#yellow{
        color: s.$button-color;
      }
      &#green{
        color: s.$primary-color;
      }
    }
    
    .source-btn {
      border: solid 1px white;
      border-radius: 6px;
      background-color: s.$secondary-color;
      width: 80px;
      height: 30px;
      margin: 10px 10px 10px 0;
      
      a {
        color: white;
        text-decoration: none;
        height: 100%;
        width: 100%;
        
        img {
          filter: invert(1);
          width: 13px;
          height: 13px;
          margin-right: 4px;
        }
      }
      
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 2px 2px #ffffff;
        transition: 0.3s;
      }
      
    }
    
  }
  
  .subtitle-container {
    text-align: center;
    position: absolute;
    background-color: #000000a6;
  }
  
}

//MOBILE
@media (max-width: 768px) {
  
  .content{
    margin: 0;
    padding: 0;
    
    .title-container{
      width: 100%;
      left: 0;
      top: -400px;
    }
    
    .button-panel {
      margin: 0;
      left: 0;
      top: -80px;
      
      button {
        width: 33%;
        height: 100px;
      }
      
      .content{
        margin: 0;
        padding: 0;
      }
    }
    
    .main-container {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      margin-top: 600px;
      margin-bottom: 900px;
      
      .graph-row {
        flex-direction: column !important;
        
        .chart-container {
          margin: 1rem;
          
          #endangered-species {
            display: inline-block;
            height: 500px;
            width: 100%;
            margin-top: 160px;
          }
        }
        
        .chart,
        .description {
          flex: 1 1 100%;
          width: 95%;
          border-radius: 0;
        }
        
        .description {
          margin-top: 1.5rem;
          padding-left: 10px;
          padding-right: 30px;
        }
        
      }
      
      .cards-container {
        flex-direction: column;
        
        .card {
          flex: 1 1 100%;
          max-width: 100%;
          margin-bottom: 1rem;
          border-radius: 0;
        }
      }
      
      .gallery-cards {
        .gallery-card {
          flex: 1 1 100%;
          max-width: 100%;
          border-radius: 0;
        }
      }
      
      .final-message {
        margin: 80px 0 80px 0;
        border-radius: 0;
        padding: 15px;
      }
      
    }
    
    .subtitle-container {
      width: 100%;
      padding: 10px 5px;
      margin: auto;
      font-size: 3vw;
      bottom: -600px;
      left: 0;
    }
    
  }
  
}

//DESKTOP
@media (min-width: 769px) {
  .content {
    
    .main-container {
      padding-top: 4rem;
      padding-left: 12rem;
      padding-right: 12rem;
      margin-bottom: 800px;
      
      .cards-container {
        .card {
          max-width: calc(33.333% - 1rem);
          border-radius: 12px;
        }
      }
      
      .gallery-cards {
        .gallery-card {
          max-width: calc(33.333% - 1rem);
          border-radius: 12px;
        }
      }
      
      .final-message {
        margin: 5% 20% 5% 20%;
        border-radius: 20px;
        padding: 20px;
      }
      
    }
    
    .subtitle-container {
      width: 50vw;
      padding: 10px 5px;
      margin: auto;
      font-size: 2vh;
      margin-bottom: 15vh;
      bottom: -700px;
      left: 25%;
    }
  }
}