$primary-background: #21170B;
$secondary-background: #412B14;
$primary-color: #8FCD3C;
$secondary-color: #1B3518;
$button-color: #E9B838;

.login-prompt-swal {
    background-color: $primary-background !important;
    border-radius: 15px !important;
    border: 2px solid $secondary-background !important;
    font-family: "Roboto";
    
    .swal2-title {
        color: #ffffff !important;
    }
    
    .swal2-html-container {
        color: #d1d1d6 !important;
    }
    
    .swal-confirm-button {
        background-color: $button-color;
    }

    .swal2-icon.swal2-info.swal2-icon-show{
        border-color: $button-color;
        color: $button-color;
    }
}